body{
background:#070430;
margin: 0;
border-box:sizing;
padding:0px;
-webkit-text-size-adjust: 100%;
}
.pg{
width: 220px;
height: 350px;
background: cyan;
background-color: #03e5b7;
background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
align-items: center;
border-radius: 0px 30px 30px;
flex-wrap: wrap;
margin:20px;
box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}
.pg-flex{
display: flex;
width:100%;
flex-wrap: wrap;
justify-content:space-around;
margin: auto;
}
