body{
color: #3b3b3b;
}

.txt{
color: black;
width: 46%;
height: 200px;
display: inline;
background-color: #fbc800;
left: 0;
margin: -20;
text-align: top;
}

.resu{
color: black;
width: 46%;
height: 200px;
display: inline;
background-color: #fbc800;
left:0;
margin:-20;
text-align: top;
right: 0;
}

.btn{
width: 20%;
display: block;
background-color: #ef2648;
}
