body{
background-color: #fcf0f0;
}

@font-face {
  font-family: tulu;
  src: url(./fonts/baravu.otf);
}


.tulu{
font-family: tulu;
}

.txt{
color: black;
width: 47%;
height: 200px;
display: inline;
background-color: #fbc800;
left: 0;
text-align: top;
}

.resu{
position: relative;
color: black;
width: 47%;
height: 200px;
display: inline;
background-color: #fbc800;
left:0;
text-align: top;
right: 0;
}

.btn{
width: 20%;
background-color: #ef2648;
}

.darkblue{
color: #042963;
}

.spcl{
vertical-align: middle;
position: relative;
bottom: 1px;
height: 14px;
width: 14px;
}
