html{
scroll-behavior: smooth;
}
body{
background-color: #fcf0f0;
margin: 0;
border-box:sizing;
padding:0px;
-webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: tulu;
  src: url(./fonts/brvu2.otf);
}
@font-face {
  font-family: tulu2;
  src: url(./fonts/baravu.ttf);
}
@font-face {
  font-family: kan;
  src: url(./fonts/kan.ttf);
}

.kan{
font-family: kan;
}

.tulu{
font-family: tulu2;
}


.txt{
color: black;
width: 100%;
height: 200px;
display: inline;
background-color: #fbc800;
left: 0;
text-align: top;
}

.resu{
position: relative;
color: black;
width: 100%;
height: 200px;
display: inline;
left:0;
text-align: top;
right: 0;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
}

.main div {
  flex: 1;
  display: flex;
  align-items: center;
}

.btn{
width: 20%;
background-color: #ef2648;
}

.darkblue{
color: #042963;
}

.spcl{
vertical-align: middle;
position: relative;
bottom: 1px;
height: 14px;
width: 14px;
}




/*errors page*/

.err h3{
  border-bottom: 3px solid #008080;
  padding-left: 5px;
  margin-right: -20px;
  width:80%;
}   
.err p{
  padding:15px;
  text-align:justify;
  margin-top: 15px;
}
.err-btn{
  border: 2px solid black;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  position: relative;
  text-align: center; 
  align-items:right;
  text-decoration: none;
  border-radius:20px;
  padding:5px 20px;
}
